/* HEADER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .page-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Gowun Dodum";
  }
  .img_logo_juan{
    width: 178px;
  }
  .page-header button {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: background 1.2s;
    font-family: var(--font-family-logo);
  }
  
  .page-header button img {
    flex-shrink: 0;
    margin-left: 5px;
    fill: currentColor;
  }
  
  .page-header button:hover {
    background: var(--primary-color);
    color: var(--contrast-dark-color);
    font-family: var(--font-family-logo);
  }

  @media only screen and (min-width:401px) and (max-width:800px) {
  
    .navbar_item {
      display:none;
    }

    .page-header nav{
      margin-right: 2rem;
      margin-left: 2rem;
    }

    .img_logo_juan{
      width: 30vw;
    }
    
  }


  @media only screen and (max-width:400px){

    .img_logo_juan{
      width: 30vw;
    }

    .navbar_item {
      display:none;
    }

    .page-header nav{
      margin-right: 2rem;
      margin-left: 1.5rem;
      
    }

  }