.section4{
    width: 100vw;
        
}

.hobbie_container{
    display:flex;
    justify-content: space-around;
    max-width: 90vw;
    padding-left: 7rem;
    flex-wrap: wrap;
    
}

.hobbie{
    width: 190px;
    height: 200px; /*Cambiar con el responsive para ajustar a la pantalla pequeña*/
    background:linear-gradient(white,white, #787878);

}
.hobbie_logo{
 width: 3rem;
 padding-left: .7rem;
 padding-top: .7rem;
}

.hobbie_contenido{
    padding-left: .7rem;
}

 
  .desvanecer:hover {
    opacity: 0.55;
    -webkit-transition: opacity 600ms;
    -moz-transition: opacity 600ms;
    -o-transition: opacity 600ms;
    -ms-transition: opacity 600ms;
    transition: opacity 600ms;
  }



  @media only screen and (min-width:401px) and (max-width:800px) {

    .hobbie_container{
        padding-left: 0rem;
        margin: 0 auto;
        
    }


  }

  @media only screen and (max-width:400px){

    .hobbie{
      width: 40vw;
      }
      .hobbie_container{
          width: 100vw;
          margin: 0 auto;
          padding: 0;
          justify-content: space-between;
      }
    
  }

