
.section3{
    width: 100vw;
    
    
}

.skills_container{
    display:flex;
    justify-content: space-around;
    max-width: 90vw;
    flex-wrap: wrap;
    padding-left: 7rem;
}

.skill{
    width: 190px;
    height: 200px; /*Cambiar con el responsive para ajustar a la pantalla pequeña*/
    background:linear-gradient(white,white, #787878);

}
.skill_logo{
 width: 3rem;
 padding-left: .7rem;
 padding-top: .7rem;
}

.skill_contenido{
    padding-left: .7rem;
}


@media only screen and (min-width:401px) and (max-width:800px) {

    .skills_container{
        flex-wrap: wrap;
        padding-left: 0rem;
        margin: 0 auto;

    }

    .skill{
        width: 190px;
        height: 200px;
    }



}

@media only screen and (max-width:400px){

.skill{
width: 40vw;
}
.skills_container{
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}
    
}