
/* RESET & BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Gowun Dodum";
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    font: 18px/26px "Gowun Dodum"
  }
  
  .container {
    padding: 0 15px;
  }
  
  .container-max {
    max-width: 1000px;
    margin: 0 auto;
  }

  .not-active { 
    pointer-events: none; 
    cursor:default; 
} 
  
  
  
  /* SECTION STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  section {
    margin: 100px 0 20px;
  }
  
  section:last-of-type {
    margin-bottom: 100px;
  }
  
  section .text {
    max-width: 1000px;
    margin: 0 auto 40px;
  }
  
  section img {
    background: none;
  }

  #primera{
    margin-top: 20px;
  }

  .section_titulo{
    display:flex;
    justify-content: center;
    font-size: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
  
  /* STICKY STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(5px);
    animation: slideDown 0.35s ease-out;
  }
  
  .page-header.is-sticky img {
    max-width: 80%;
  }
  
  .page-header.is-sticky button {
    font-size: 14px;
    padding: 7px 10px;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
    color: lightgray;
    border-radius: 1em 0 0 1em;
    backdrop-filter: blur(5px);
    animation: slideDown 2s ease-out;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  }
  
  .page-footer a {
    display: flex;
    margin-left: 4px;
  }

  